@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nixie+One&display=swap');

.number-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.restart-btn {
    width: 70px;
    height: 30px;
    background-color: rgb(176, 191, 199);
    border-radius: 4px;
    color: black;
}

.restart-btn:hover {
    transform: scale(1.2);
    transition: 0.2s ease;
}
.game-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 40vh;
    border: 1px solid gray;
    border-radius: 10px;
    margin-right: 15px;
}

.game-card:hover {
    background-color: #CAC1CB;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
.game-card h1:hover {
    color: white;
    transform: scale(1.2);
}

.all-games {
    margin-left: 20px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: space-around; */
}

.all-games h2 {
    font-family: 'Nixie One', cursive;
    font-size: 20px;
}

.game-container {
    font-family: 'Titillium Web', sans-serif;
}

.games-list {
    display: flex;
}

.game-container h1{
    font-size: 15px;
    margin: 10px;
}
