.nav-bar {
  border: 1px solid #DBD8D5;
  background-color: white;
}

img {
    width: 10vw;
    /* height: 10vh */
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}