.column-container {
    margin: 8px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.column-title {
    padding: 8px;
}

.number-boxes {
    padding: 8px;
}

.number-box {
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
}

.dnd-number.size-one   { 
    width: 40px !important; 
    border: 1px solid lightgrey;
    border-radius: 2px;

}
.dnd-number.size-two   { 
    width: 80px !important; 
    border: 1px solid lightgrey;
    border-radius: 2px;
}
.dnd-number.size-three { 
    width: 120px !important; 
    border: 1px solid lightgrey;
    border-radius: 2px;
}
.dnd-number.size-four  { 
    width: 160px !important; 
    border: 1px solid lightgrey;
    border-radius: 2px;
}
.dnd-number.size-five  {
     width: 200px !important; 
     border: 1px solid lightgrey;
     border-radius: 2px;
}