@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nixie+One&display=swap');

.column-container {
    margin: 8px;
    /* border: 1px solid lightgray;
    border-radius: 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Titillium Web', serif;
    padding: 8px;
    width: 90vw;
    border: 1px solid black;
    border-radius: 4px;
}

.game-info p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
}

.column-title {
    font-family: 'Nixie One', cursive;
    margin-bottom: 8px;
    font-weight: bolder;
    color: rgb(139, 111, 141);
}

.number-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 35vw; */
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
}

.number-box {
    border: 1px solid #CAC1CB;
    background-color: #CAC1CB;
    border-radius: 2px;
    padding: 8px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2px;
}

.dnd-number {
    text-align: center;
}

.dnd-number.size-one   {  width: 40px !important; }
.dnd-number.size-two   { width: 80px !important; }
.dnd-number.size-three { width: 120px !important; }
.dnd-number.size-four  { width: 160px !important; }
.dnd-number.size-five  { width: 200px !important; }