@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nixie+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #F3DCD3;
}

.nav-bar {
    font-family: 'Nixie One', cursive;
    font-weight: bold;
    width: 100vw;
    height: 18vh;
    background-color: #B0BFC7;
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}


.nav-bar img {
    height: 20vh;
    margin-top: 10px;
    padding-left: 15px;
  
}

.main-nav {
    width: 100vw;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    justify-content: space-evenly;

}

.main-nav a {

    color: rgb(3, 0, 3);
    margin-bottom: 18px;
    width: 30%;
}

.main-nav a:hover {
    color: #FAFAFA;
    transform: scale(1.2);
    transition: 0.1s ease;
 
}


.main {
    height: 90vh;
    display: flex;
    align-items: center;
    
}

.home-message {
    display: flex;
    height: 74vh;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #CAC1CB;
    margin: 20px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web', serif;
}

.home-message h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.alert-container h3{
    color: red;
}

.alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.form-link-container form {
    display: flex;
    flex-direction: column;
}

.form-link-container form > button, input {
        width: 200px;
        height: 35px;
        border-radius: 10px;
        margin: 5px auto;
        font-size: 15px;
        padding: 3px 15px;
}

.form-link-container form > button {
    background-color: rgb(176, 191, 199);
    margin-bottom: 30px;
}

.form-link-container form > button:hover {
    transform: scale(0.9)
}

.form-link-container form > button:focus, input:focus {
    outline: none
}

.form-link-container form > input {
    width: 200px;
}
.form-link-container:hover {
    background-color: rgba(245, 209, 67. 0.2);
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container p, a {
    text-align: center;
    color: black;
    text-decoration: none;
}

.form-container h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    margin-bottom: 20px;
    color: black;
}

.form-container a:visited {
    color: #7E7254;
}
.form-container p:hover {
    color: #B0BFC7;
    transform: scale(1.2);
}

.form-link-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
    width: 300px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    border: 2px solid #B0BFC7;
    background-color: white;

}