@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    background-color: #F3DCD3;
}

.nav-bar {
    font-family: 'Titillium Web', sans-serif;
    /* position: fixed; */
    width: 100vw;
    height: 18vh;
    background-color: #B0BFC7;
    display: flex;
    align-items: center;
    /* padding-bottom: 10px; */
}


.nav-bar img {
    height: 20vh;
    margin-top: 10px;
    padding-left: 15px;
    /* height: 8vh; */
}

.main-nav {
    width: 100vw;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    justify-content: space-evenly;
    /* border-top: 1px solid gray;
    border-bottom: 1px solid gray; */
    /* bottom: 0; */
}

.main-nav a {
    /* padding: 2px 8px 2px 8px; */
    /* background-color: #F3DCD3; */
    margin-bottom: 18px;
    width: 30%;
}

.main-nav a:hover {
    color: #FAFAFA;
    transform: scale(1.3);
    /* padding: 5px; */
}


.main {
    /* width: 90vh; */
    height: 90vh;
    display: flex;
    align-items: center;
    
}

form {
    display: flex;
    flex-direction: column;
}

form > button, input {
        width: 200px;
        height: 35px;
        border-radius: 10px;
        margin: 5px auto;
        font-size: 15px;
        padding: 3px 15px;
}

form > button {
    background-color: rgb(176, 191, 199);
    margin-bottom: 30px;
}

form > button:hover {
    transform: scale(0.9)
}

form > button:focus, input:focus {
    outline: none
}

form > input {
    width: 200px;
}
.form-link-container:hover {
    background-color: rgba(245, 209, 67. 0.2);
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container p, a {
    text-align: center;
    color: black;
    text-decoration: none;
}

.form-container h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    margin-bottom: 20px;
    color: black;
}

.form-container a:visited {
    color: #7E7254;
}
.form-container p:hover {
    color: #B0BFC7;
    transform: scale(1.2);
}

.form-link-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
    width: 300px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    border: 2px solid #B0BFC7;
    background-color: white;

}